In [ ]:
import tensorflow as tf

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from keras.models import Sequential
from keras.layers import Dense,Activation,Embedding,Flatten,LeakyReLU,BatchNormalization,Dropout
from keras.activations import relu,sigmoid
from keras.layers import LeakyReLU

from sklearn.preprocessing import StandardScaler

In [ ]:
dataset = pd.read_csv("/content/drive/My Drive/Google collab/Churn_Modelling.csv")

In [ ]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
X = dataset.iloc[:,3:13].values
y = dataset.iloc[:,13].values

In [ ]:
#Encoding categorical dataa
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 =LabelEncoder()
X[:,1] = labelencoder_X_1.fit_transform(X[:,1])
labelencoder_X_2 =LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])
onehotencoder = OneHotEncoder(categories='auto')
X = onehotencoder.fit_transform(X).toarray()
X = X[:,1:]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
def create_model(layers,activation):
    model=Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim= X_train.shape[1]))
            model.Activation(activation)
        else:
            model.add(Dense(nodes))
            model.Activation(activation)
    model.add(Dense(1)) # No activation beyond this point
    l
    model.compile(optimizer='adam',loss = "binary_crossentropy",metrics=['accuracy'])
    return model
model = KerasClassifier(build_fn=create_model,verbose=0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
model

In [ ]:

layers = [[20],[40,20],[45,30,15]]
activations = ['sigmoid','relu']
param_grid=dict(layers = layers,activation=activations,batch_size=[128,256],epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid)

grid_result

In [ ]:
grid_result = grid.fit(X_train, y_train)

In [ ]:
[grid_result.best_score_,grid_result.best_parms_]